<!DOCTYPE html>
<html lang="en">
  <head>
    <title>User Management - Home</title>
    <meta charset="utf-8" />
    <style>
      table {
        font-family: inherit;
        border-collapse: collapse;
        width: 100%;
      }

      th,
      td {
        border: 1px solid #ddd;
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #ddd;
      }
    </style>
  </head>
  <body>
    <h1>User Management</h1>
    <hr />

    <table>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Age</th>
        <th colspan="2">Actions</th>
      </tr>
      <% data.forEach(element => { %>
      <tr>
        <td><%= element.userId %></td>
        <td><%= element.userName %></td>
        <td><%= element.userEmail %></td>
        <td><%= element.userAge %></td>
        <td>
          <form method="post" action="/update">
            <input type="text" name="userId" value="<%= element.userId %>" />

            <button
              type="submit"
              style="
                border: none;
                background-color: salmon;
                color: #fff;
                text-align: 'center';
                padding: 3px 5px;
              "
            >
              delete
            </button>
          </form>
        </td>
        <td>
          <form method="post" action="/delete">
            <input type="text" name="userId" value="<%= element.userId %>" />

            <button
              type="submit"
              style="
                border: none;
                background-color: salmon;
                color: #fff;
                text-align: 'center';
                padding: 3px 5px;
              "
            >
              delete
            </button>
          </form>
        </td>
      </tr>
      <% }) %>
    </table>

    <hr />

    <form method="post" action="/">
      <input type="text" name="userId" placeholder="ex., enter User Id" />
      <input type="text" name="userName" placeholder="ex., enter User Name" />
      <input type="text" name="userEmail" placeholder="ex., enter User Email" />
      <input type="text" name="userAge" placeholder="ex., enter User Age" />
      <button type="submit">Add New User</button>
    </form>

    <hr />

    <form method="post" action="/update">
      <input type="text" name="userId" placeholder="ex., enter User Id" />
      <input type="text" name="userName" placeholder="ex., enter User Name" />
      <input type="text" name="userEmail" placeholder="ex., enter User Email" />
      <input type="text" name="userAge" placeholder="ex., enter User Age" />
      <button type="submit">Update User</button>
    </form>

    <hr />

    <form method="post" action="/delete">
      <input type="text" name="userId" placeholder="ex., enter User Id" />
      <button type="submit">Delete User</button>
    </form>
  </body>
</html>
